@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");

@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-kalita-background-light: #fcfafa;
  --color-kalita-background-medium: #f7f7f7;
  --color-kalita-brown-medium: #8d5843;
  --color-kalita-brown-dark: #2e201d;

  --font-antonio: "Antonio", sans-serif;
  --font-nunito: "Nunito Sans", sans-serif;
}
