@theme {
  /* Cores do projeto retiradas do figma */
  --color-primary: #533e29;
  --color-secondary: #B78854;
  --color-tertiary: #F9F6F4;
  --color-quaternary: #F5F1EE;
  --color-fundo: #E5DACE;

  /* Buttons contact */
  --color-button-primary: #B78854; 

  /* Textos */
  --color-color-heading: #545454; /* Cor títulos*/
  --color-color-subtitle: #242424; /* Cor subtítulos*/

  --text-md: 1rem; /* 16px */
  --text-title: 4rem; /* 64px */

  --font-lato: 'Lato', sans-serif, helvetica; /* fonte Lato, usado em todo site*/
  --font-homeKalita: "La Belle Aurore", cursive; /* fonte La Belle Aurore, usado nos títulos*/
}